@charset 'UTF-8';
.baseui_theme_bold {
    font-weight: bold;
}
.baseui_theme_outlineColor {
    border: 1px solid #cecece;
}

.baseui_theme_outlineTransparent {
    border: 1px solid transparent;
}


.baseui_theme_outlineRounded {
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}

.baseui_theme_outlineSmallRounded {
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}


.baseui_theme_outlineTopRounded {
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.baseui_theme_menuItemSpacing {
    margin-left: 8px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.baseui_theme_smallHSpacing {
    width: 12px;
}

.baseui_theme_borderBottom {
    border-bottom: 1px solid #cecece;
}


.baseui_theme_controlFillNormal {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}
.baseui_theme_controlFillPressed {
    background: #f0f0f0;
}
.baseui_theme_centered {
    text-align: center;    
}
.baseui_theme_controlFont {
    font-family: sans-serif;
    font-size: 14px;
}
.baseui_theme_menuBoxColor {
    background-color: #fcfcfc;
    padding: 4px 4px 4px 4px;
    border-spacing: 0px;
}
.baseui_theme_menuBar {
    background-color: #f0f0f0;
    border-bottom: 1px solid #cecece;
}

.baseui_theme_menuBoxColor > td {
    border-style: none;
    margin: 0px;
    padding: 2px;
    border: 0px;
}
.baseui_theme_menuBoxColor > tr {
    border-style: none;
}

.baseui_theme_textColor {
    color: black;
}
.baseui_theme_textHighlightColor {
    color: black;
}
.baseui_theme_textDisabledColor {
    color: #b0b0b0;
}
.baseui_theme_highlightColor {
    background-color: #e0e0e0;
}
.baseui_theme_menuItem > td {
    padding-left: 2px;
    padding-right: 2px;
    white-space: pre;
}
.baseui_theme_toolSize {
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
}
.baseui_theme_transparency {
    filter:alpha(opacity=50);
    opacity:0.5;
}
.baseui_theme_bgImgExpandedFolder {
    background-image: url("lib/folderexpanded.png");
    background-repeat: no-repeat;
    padding-left: 20px;
}
.baseui_theme_bgImgContractedFolder {
    background-image: url("lib/folder.png");
    background-repeat: no-repeat;
    padding-left: 20px;
}
.baseui_theme_windowBackground {
    background-color: #e0e0e0;
}
.baseui_theme_windowForeground {
    background-color: #ffffff;
}
.baseui_theme_windowDarkerForeground {
    background-color: #f5f5f5;
}


