.positionbox {
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.editor_Editor_toolbox {
    background-color: green;
}
.editor_Editor_viewer {
    background-color: blue;
}
.editor_Toolbox_tools {
    background-color: red;
}
.editor_Toolbox_tooldata {
    background-color: olive;
}
.editor_Tool_image {

}
.editor_GroupViewer_visuals {
    background-color: orange;
}
.editor_GroupViewer_position {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.editor_GroupViewer_mouseBox {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.transparent {
    background-color: transparent;
}
.editor_SelectionBox_selectionArea {
    border: dotted 1px blue;
}
.editor_SelectionBox_knob {
    background-color: orange;
}
.thing {
    background-color: purple;
}
