.editor_GroupViewer_mouseBox {
    border: dashed 1px gray;
}

.editor_SelectionBox_selectionArea {
    border: dotted 1px blue;
}
.editor_SelectionBox_knob {
    background-color: orange;
}
.editor_RotationBox_knob {
    background-color: blue;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;

}
.editor_layoutAnchorHorizontal {
    border-bottom: 1px dotted;
}
.editor_layoutAnchorVertical {
    border-left: 1px dotted;
}

.editor_layoutAnchorPx {
    border-color: red;
}
.editor_layoutAnchorPercent {
    border-color: blue;
}
